<% provide(:title, "主页") %>
<div class="center hero-unit">
	<h2>欢迎访问竞技体育，我爱精彩！</h2>
	<p class="lead">你可以在这里体验体育游戏竞猜的乐趣！</p>
	<%= link_to "立即加入", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="row">
	<div class="span4">
		<h3>赛事信息</h3>
		<p>This is not what you don't want. This is also what I want. This is just a demo.</p>
		<p><%= link_to  "详细信息", matches_path, class: "btn" %>
	</div>
	<div class="span4">
		<h3>赛事信息</h3>
		<p>This is not what you don't want. This is also what I want. This is just a demo.</p>
		<p></p>
		<p><%= link_to  "详细信息", matches_path, class: "btn" %>
	</div>
	<div class="span4">
		<h3>赛事信息</h3>
		<p>This is not what you don't want. This is also what I want. This is just a demo.</p>
		<p></p>
		<p><%= link_to  "详细信息", matches_path, class: "btn" %>
	</div>
</div>
<div class="row">
<div>
<dl>
<dt><a href="http://ball.damai.cn/484.html" target="_blank"><img src="http://i.damai.cn/fp/site/mayball/images/0_05.jpg" width="221" height="147" /></a></dt>
<dd><p>北京海淀体育馆羽毛球馆</p>
<p><b>[海淀区]</b> 颐和园路12号海淀体育馆</p>
<p>门市价：￥<s>60.00</s></p>
<p>大麦价：￥<b>60.00</b></p></dd>
<span><a href="http://ball.damai.cn/484.html" target="_blank">立即预订</a></span>
</dl>
</div>
<div>
<dl>
<dt><a href="http://ball.damai.cn/483.html" target="_blank"><img src="http://i.damai.cn/fp/site/mayball/images/t6.jpg" width="221" height="147" /></a></dt>
<dd><p>北京万芳亭羽毛球馆</p>
<p><b>[丰台区]</b>丰台区洋桥西里甲2号</p>
<p>门市价：￥<s>30.00</s></p>
<p>大麦价：￥<b>25.00</b></p></dd>
<span><a href="http://ball.damai.cn/483.html" target="_blank">立即预订</a></span>
</dl>
</div>

<div >
<dl>
<dt><a href="http://ball.damai.cn/483.html" target="_blank"><img src="http://i.damai.cn/fp/site/mayball/images/t6.jpg" width="221" height="147" /></a></dt>
<dd><p>北京万芳亭羽毛球馆</p>
<p><b>[丰台区]</b>丰台区洋桥西里甲2号</p>
<p>门市价：￥<s>30.00</s></p>
<p>大麦价：￥<b>25.00</b></p></dd>
<span><a href="http://ball.damai.cn/483.html" target="_blank">立即预订</a></span>
</dl>
</div>
</div>
