<footer class="footer">
<small>
<a href="http://ilbdmt.cn">我爱竞猜</a>
by Tharvest
</small>
<nav>
<ul>
<li><%= link_to "关于我们", about_path %></li>
<li><%= link_to "联系我们", contact_path %></li>
<li><%= link_to "新闻媒体", '#' %></li>
</ul>
</nav>
</footer>
